@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Source+Serif+Pro&display=swap');
$zuta:#DEC79B;
$crna:#18181E;
@mixin slikeHover{
    &:hover img{
        transform: scale(1.15,1.15);
        opacity: 1;
    }
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
a{
    text-decoration: none;
    color:#fff;
    
}
p{
    font-size: 22px;
    //font-family: 'Cinzel', serif;
}
body{
    background-color:$crna;
    color:$zuta;
}
h1{
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
h2{
    font-size:50px;
    font-family: 'Dancing Script', cursive;
}
.meni{
    background-color: $zuta;
    padding:0px;
}
.carousel-item{
    height: 95vh;
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-link{
    font-size: 20px;
    transition: .5s;
    &:hover{
        color:$crna !important;
        
    }
}
.dugmici{
    background-color: $crna;
    color:$zuta;
    border: none;
    &:hover{
        background-color: $zuta;
        color:$crna;
    }
}
.slike{
    padding:0px;
    overflow: hidden;
}
#carouselExampleFade{
    height: auto;
}
.linija{
    border-bottom: 2px solid $zuta;
}
.natpis{
    //position: absolute;
    top:30%;
    color:$zuta;
    h1{
        font-size:90px;
    }
}
.slika{
    width:40%;
    margin:10px;
    overflow: hidden;
    background-color:$crna;
    img{
        transition: .5s;
        opacity: 0.5;
    }
    /*&:hover img{
        transform: scale(1.15,1.15);
        opacity: 1;
    }*/
    @include slikeHover;
}
footer{
    background-color:#000;
    font-size:18px;
    i{
        font-size:30px;
    }
    a:hover{
    color:$zuta;
    text-decoration: none;
    }
}
.podatci{
    p{
       font-size:16px;
    }
    

}
/*O nama*/
.info{
    background: {
        image:linear-gradient(rgba($crna ,0.5),rgba($crna,0.9)),url("../images/objekat.jpg");
        size:cover;
        position: center;
    } 
    padding:80px 0px;
}
.galerija{
    overflow: hidden; 
    img{
        transition: .5s;
    }
    @include slikeHover;
 
}
/*Jelovnik*/
.dugme{
    background-color: $zuta;
    &:hover{
        background-color: $crna;
        color:$zuta;
    }
}
.karte{
    border-color:$zuta; 
    color:$crna;
}
.zaglavlje{
    background-color: $crna;
    color:#fff;
}
thead{
    background-color: $crna;
    color:$zuta;
}
@media screen and (max-width:500px){
    .slika{
        width:100%;
        margin:10px 0px;
    }
    /*.natpis{
        h1{ 
            font-size:60px;
        }
       
    }*/
}

